{% extends "base_auth.html" %}

{% block content %}

<div class="card" id="card">
    <div class="card-header text-center">
        <h5>Welcome to the Task Manager</h5>
    </div>

    <div class="card-body">
        <p class="card-text text-center">
            Please provide authentication details to sign in or sign up.
        </p>

        <form
            hx-post="/auth/validate" >
            {% csrf_token %}

            {% include "input_field.html" with label="Email" name="email" input_type="email" %}

            {% if email_err_msg %}
            <p>Invalid email address</p>
            {% endif %}

            {% include "input_field.html" with label="Password" name="password" input_type="password" %}

            <button
                class="btn btn-primary" >
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
