{% extends "base.html" %}

{% block content %}

<div id="content">
    {% if name %}
    <p class="font-mono">Hello {{ name }}</p>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}

    <div class="card" id="card">
        <div class="card-header text-center">
            <h5>Welcome to the Task Manager</h5>
        </div>

        <div class="card-body">
            <p class="card-text text-center">
                Please provide authentication details to sign in or sign up.
            </p>

            <form>
                {% csrf_token %}

                {% include "partials/input_field.html" with label="Email" name="email" input_type="email" %}

                {% if email_err_msg %}
                <p>Invalid email address</p>
                {% endif %}

                {% include "partials/input_field.html" with label="Password" name="password" input_type="password" %}

                <button
                    hx-post="validate"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#content"
                    class="btn btn-primary"
                >
                Continue
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
