<div class="card mb-2">
	<div class="card-header mb-2">
        <div class="row">
            <div class="col-10">
                {{ taskTitle|default:"Task Title" }}
            </div>
            <div class="col-2 text-end">
                {{ taskLabel|default:"Task Label" }}
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col ms-2">
            <label>Status</label>: {{ taskStatus|default:"Task Status" }}<br>
            Due Date: 11/FEB/24<br>
            Priority: Medium
        </div>
		<div class="col me-2">
			<div class="form-floating mb-3">
				<textarea
					class="form-control"
					placeholder="desc"
					id="taskDescription"
					style="height: 100px"
					disabled 
                >{{ taskDescription|default:"Task Description" }}</textarea>
				<label for="taskDescription">Task Description</label>
			</div>
		</div>
	</div>
</div>
