{% if context.edit_mode %}
    {% with action_url="/task/"|add:context.task.pk|add:"/update" %}
    {% endwith %} 
{% elif context.group_task %}
    {% with action_url="/groups/"|add:context.group_pk|add:"/task/create" %}
    {% endwith %} 
{% else %}
    {% with action_url="/task/create" %}
    {% endwith %} 
{% endif %}

<form hx-post="{{ action_url }}" hx-target="this" hx-swap="outerHTML">
	<div class="card">
		<div class="card-header">Template Selector</div>

		<div class="card-body">
			<div class="row">
				{% include "task_primary_fields.html" with edit_mode=context.edit_mode
				title=context.task.title status=context.task.status
				description=context.task.description label=context.task.label %}
			</div>
		</div>
	</div>

	{% if context.edit_mode %} 
        {% include "submit_button.html" with button_text="Update Task" %}
        {% include 'button_task_delete.html' %}
    {% elif context.group_task %}
        {% include 'button_group_task_submit.html' with button_label='Create Group Task' %}
        {% include 'button_group_task_cancel.html' with button_label='Back' %}
	{% else %} 
        {% include "submit_button.html" with button_text="Create Task" %}
	{% endif %}
</form>
