.floating-label-group {
    position: relative;
    padding-top: 15px;
}

.floating-label-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    transition: all 0.1s ease-out;
    color: gray;
}

.floating-label-group input:focus + label,
.floating-label-group input:not(:placeholder-shown) + label {
    top: 0;
    left: 10px;
    font-size: 0.75rem;
    color: #667eea; /* Same as the focus ring color */
}

.floating-label-group input:focus + label {
    color: #667eea; /* Tailwind indigo-500 */
}

.floating-label-group input {
    border-radius: 9999px; /* rounded-full */
}
